<section class="serch-section-wrapper">

    <div class="search-container">
  
      <input class="main" type="text"   [(ngModel)]="searchValue"> />
  
      <span class="searchicon"></span>
  
      <!-- <div class="microphone">
        <div class="mic-stand"></div>
      </div> -->
  
      <div class="icon-holder">
  
        <div class="icon" id="author-filter">

            <div (click)="searchByAuthor(eBlogFilterType.Author)" class="author-icon">
              👤
            </div>
          
            <div class="tooltip">
              Filter By Author
            </div>
          
          </div>
  
        <div class="icon" id="title-filter">
          <div (click)="searchByAuthor(eBlogFilterType.Title)" class="author-icon">
              📝 
          </div>
          <div class="tooltip">Filter By Title</div>
        </div>
  
        <div class="icon" id="date-icon">
          <div (click)="searchByAuthor(eBlogFilterType.Date)" class="author-icon">
            📅 
          </div>
          <div class="tooltip">Filter By Date</div>
        </div>
  
        <div class="icon" id="location">
          <div (click)="searchByAuthor(eBlogFilterType.Location)" class="author-icon">
            📍 
          </div>
          <div class="tooltip">Filter By My Location</div>
        </div>
        
        <div class="icon" id="clear-icon">
          <div (click)="searchByAuthor(eBlogFilterType.Clear)" class="author-icon">
            ❌ 
          </div>
          <div class="tooltip">
            Clear Filter
        </div>
        </div>
  
      </div>
  
    </div>
  
  </section>